%section.home-splash.flex-container
  %img.pattern-image.pattern-image-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.pattern-image.pattern-image-right{ src: "/images/home/icons-pattern-right.svg" }
  .hero-container.flex-container.flex-column.full-width.justify-center.align-center
    %a{ href: "/2018/06/03/movingtogitlab/" }
      %img.hero-image{ src: "/images/home/github-importer.svg", alt: "Github import to Gitlab" }
    %h1.hero-title
      Are you #movingtogitlab?
    %h3.hero-description
      Learn about this latest trend and why more people are making the switch.
    %a.btn.cta-btn.accent.github-import{href: "/2018/06/03/movingtogitlab/"}
      Read our blog post
