.value-pillar-group.flex-container.full-width
  .value-pillar.full-width
    %img{ src: "/images/home/pillar-create.svg" }
    .value-pillar-body
      %h3.pillar-title Visible
      %p.pillar-description
        Real time view across the entire lifecycle
      %ul
        %li See everything that matters
        %li Stay in your flow
        %li Don’t wait on syncing
        %li Manage projects, not tools
        %li Improve cycle time.

  .value-pillar.full-width
    %img{ src: "/images/home/pillar-speed.svg" }
    .value-pillar-body
      %h3.pillar-title Efficient
      %p.pillar-description
        Collaborate without waiting
      %ul
        %li Start immediately
        %li Work concurrently
        %li No more handoffs

  .value-pillar.full-width
    %img{ src: "/images/home/pillar-scale.svg" }
    .value-pillar-body
      %h3.pillar-title Governed
      %p.pillar-description
        Develop and operate with confidence
      %ul
        %li Security and compliance already built-in
        %li Simplify user management
        %li Expedite auditing
        %li Act with certainty
