@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bourbon/bourbon";
@import "variables";
@import "mixins/ie10-and-up";
@import "typography";
@import "components/flex-row";
@import "components/slide-media";
@import "components/container-bg";
@import "components/icon-card";
@import "components/aspect-ratio-box";
@import "components/annotated-image-container";
@import "components/customer-quote";
@import "utility-classes";

.page-illustrated-header-container {
  padding-top: 10px;

  .page-headline {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 36px;

    @media (min-width: $screen-sm-min) {
      font-size: 46px;
    }
  }

  .subheader {
    margin-bottom: 40px;
    color: $color-gray-extra-light;
    font-weight: 300;
    font-size: 22px;
  }

  > svg {
    height: 430px;
    left: -15px;

    @media(max-width: $screen-xs-max) {
      left: -100px;
    }
  }

  .cta-btn {
    min-width: 180px;
    margin-bottom: 140px;
  }

  .cta-btn-addon {
    min-width: 120px;
    margin: 0;
    margin-bottom: 3px;
    line-height: 38px;
  }
}

.focus-customer-story {
  > .container {
    @media (min-width: $screen-md-min) {
      @include padding(null 60px);
    }
  }

  h2 {
    @include accent-font-regular;
    margin-bottom: $spacing-unit-sm;
    font-size: 32px;
    line-height: 1;


    @media (min-width: $screen-sm-min) {
      margin-bottom: $spacing-unit-md;
      font-size: 40px;
    }
  }

  h3 {
    @include accent-font-regular;
    margin: 30px 0;
    font-size: 26px;
    line-height: (40 / 30);

    @media (min-width: $screen-sm-min) {
      font-size: 30px;
    }
  }

  .customer-lead {
    @include accent-font-regular;
    font-size: 20px;
    line-height: 1.5;
  }

  .btn-group {
    margin-top: 10px;
  }
}

.page-container.customer-stories {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $color-white;

  .row {
    @media (max-width: $screen-sm-max) {
      @include margin($spacing-unit-xl null);
    }

    @media (max-width: $screen-xs-max) {
      @include margin($spacing-unit-lg null);
    }

    @media (min-width: $screen-md-min) {
      min-height: 555px;
      padding-bottom: 0;

      @include ie10-and-up {
        height: 555px;
      }
    }
  }

  h4 {
    @include font-weight-bold;
    margin-top: $spacing-unit-sm;
    margin-bottom: 0;
    color: $team-content-color;
    font-size: 16px;
  }

  h3 {
    $lt-color: #292929;
    @include accent-font-regular;
    margin-top: 15px;
    margin-bottom: $spacing-unit-xs;
    color: $lt-color;
    font-size: 24px;
    line-height: (40 / 30);

    @media (min-width: $screen-sm-min) {
      font-size: 30px;
    }
  }
}

.page-container.customer-gallery {
  .gallery-title {
    $lt-color: #292929;
    @include accent-font-regular;
    margin: 0 36px 0 0;
    color: $lt-color;
    font-size: 40px;
  }

  .gallery-filter {
    position: relative;
    flex: 1 1 230px;
    max-width: 230px;
    align-self: center;
    margin-right: 30px;

    @media (max-width: $screen-xs-max) {
      margin-top: $spacing-unit-xs;
    }

    &::after {
      @include position(absolute, 4px 12px null null);
      color: $link-color;
      font-family: $font-family-icon;
      font-size: 20px;
      content: "\f107";
    }

    select {
      width: 100%;
      border: 0;
      border-bottom: 3px solid $link-color;
      border-radius: 0;
      background: none;
      font-size: 24px;
      appearance: none;

    }
  }

  .org-groups-container {
    margin-top: 85px;
    min-height: 822px;

    .row {
      @extend %u-close-columns;
      margin-top: $grid-gutter-width-close;
    }
  }
}

.pagination {
  margin-top: 70px;

  li {
    $lt-default-color: #585858;
    @include size(36px);
    display: inline-block;
    margin: 0 6px;
    border-radius: 50%;
    background-color: $color-white;
    color: $lt-default-color;
    font-size: 22px;

    &.active {
      $lt-active-color: #6b50bb;
      background-color: $lt-active-color;
      color: $color-white;
    }

    span {
      margin: 0;
      padding: 0;
      line-height: 36px;
      color: inherit;
    }
  }
}

.org-image {
  display: flex;
  align-items: center;
  justify-content: center;

  > svg {
    width: 100%;
    max-width: 60px;
    fill: $text-color-light;

    @media (min-width: $screen-sm-min) {
      max-width: 120px;
    }

    @media (min-width: $screen-md-min) {
      max-width: 170px;
    }
  }
}
