---
layout: default
title: Moving to GitLab
description: "Thousands have moved to GitLab. Will you be next?"
suppress_header: true
---
.wrapper
  .simple-header
    %h1
      Thousands have moved to GitLab. Will you be next?
  #content
.page-container{ :style => "padding-bottom: 35px;" }
  .container{ style: "max-width: 900px;" }
    %h2.block-title.text-center
      Step-by-step migration instructions
    %p.text-center 
      Watch this video for step-by-step instructions on how to migrate from GitHub to GitLab and follow along with the docs.
    %iframe{src: "https://www.youtube.com/embed/VYOXuOg9tQI", width: 560, height: 315, allow: "autoplay; encrypted-media", allowfullscreen: "allowfullscreen"}
    
.page-container{ :style => "padding-bottom: 35px;" }
  .container{ style: "max-width: 150px;" }
    %a.featured-item-button.text-center{ href: "https://docs.gitlab.com/ee/user/project/import/github.html" } Documentation

.page-container{ :style => "padding-bottom: 35px;" }
  .container{ style: "max-width: 900px;" }
    %h2.block-title.text-center
      What folks are saying
    <a class="twitter-timeline"
    href="https://twitter.com/movingtogitlab"
    data-tweet-limit="3">Tweets by @movingtogitlab</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

